In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [2]:
dataset = pd.read_csv("tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [3]:
dataset.shape

(14, 5)

In [5]:
aparencia = dataset.groupby(['Aparencia']).size()
aparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [6]:
dataset.loc[dataset['Aparencia'].isin(['menos']), 'Aparencia'] = "chuva"
aparencia = dataset.groupby(['Aparencia']).size()
aparencia

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [8]:
temperatura = dataset.groupby(['Temperatura']).size()
temperatura

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [10]:
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [14]:
mediana = sts.median(dataset['Temperatura'])
dataset.loc[dataset['Temperatura'] > 130, 'Temperatura'] = mediana
dataset['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [15]:
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [18]:
medaina = sts.median(dataset['Umidade'])
dataset.loc[dataset['Umidade'] > 100, 'Umidade'] = mediana
dataset['Umidade'].describe()

count    13.000000
mean     80.038462
std       9.996794
min      65.000000
25%      70.000000
50%      80.000000
75%      90.000000
max      95.000000
Name: Umidade, dtype: float64

In [19]:
temperatura = dataset.groupby(['Temperatura']).size()
temperatura

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
72.0    1
73.5    1
75.0    2
80.0    1
81.0    1
83.0    1
85.0    1
dtype: int64

In [20]:
umidade = dataset.groupby(['Umidade']).size()
umidade

Umidade
65.0    1
70.0    3
73.5    1
75.0    1
80.0    1
85.0    1
86.0    1
90.0    2
91.0    1
95.0    1
dtype: int64

In [21]:
dataset['Jogar'].describe()

count      14
unique      2
top       sim
freq        9
Name: Jogar, dtype: object

In [22]:
jogar = dataset.groupby(['Jogar']).size()
jogar

Jogar
nao    5
sim    9
dtype: int64

In [23]:
dataset.shape

(14, 5)

In [24]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0      NaN       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim

In [25]:
dataset['Aparencia'].isnull().sum()

0

In [27]:
dataset['Temperatura'].isnull().sum()

0

In [28]:
dataset['Umidade'].isnull().sum()

1

In [29]:
dataset['Vento'].isnull().sum()

1

In [30]:
dataset['Jogar'].isnull().sum()

0

In [31]:
mediana = sts.median(dataset['Umidade'])
mediana
dataset['Umidade'].fillna(mediana, inplace=True)

In [32]:
dataset['Umidade'].isnull().sum()

0

In [33]:
vento = dataset.groupby(['Vento']).size()
vento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [34]:
dataset['Vento'].fillna("FALSO", inplace=True)
dataset['Vento'].isnull().sum()

0

In [37]:
dataset.head

<bound method NDFrame.head of    Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     82.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     73.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao>